@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Yeseva+One&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F6F7F8; 
    height: 100vh;
}


main {
    margin: 5vh 10vh;
    float: center;
    font-family: "Montserrat";
    max-height: 80vh;
    /* height: 90vh; */
}

main h1 {
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    color: #FFDD2D;
    -webkit-text-stroke: 1px #A08600;
    font-size: 64px;
    filter: drop-shadow(-2px 2px #BDA421);
    width: 100%;
    margin-bottom: 30px;
}

.filters {
    display: inline-flex;
}

form input, select {
    width: 250px;
    padding: 12px 20px;
    font-weight: 600;
    font-style: normal;  
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 10px;
}

form select {
    margin-left: 50px;
    width: 290px;
}

.whiteBackImages {
    background-color: white;
    border-radius: 10px;    
    text-align: center;
    /* display: inline-flex; */
    margin: 20px 10px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    /* flex-wrap: wrap; */
}

.whiteBackImages a {
    max-width: 90%;
    max-height: 80%;
    margin: auto;
}

a img {
    max-width: 100%;
    max-height: 100%;
}

.images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.authorLikes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.authorLikes h3 {
    flex-grow: 1;
    text-align: left;
    margin-left: 20px;
}

.iconLike {
    margin: 0px 10px;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.login input {
    margin-bottom: 10px;
}

.login button {
    background-color: #F6F7F8;
    color: #FFD600;
    -webkit-text-stroke: 1px #A08600;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
    border: none;
    cursor: pointer;
    transition: tansform 500ms ease;
}

.login button:hover {
    transform: scale(1.1);
}

.prompts {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}

.prompts input {
    background-color: #F6F7F8;
    color: #747373;
    margin-top: 20px;
    margin-left: 35px;
    height: 20px;
    width: 260px;
}

.fileReform {
    text-align: center;
    margin: 20px;
}

.fileReform input {
    margin: 10px;
}

.fileReform b {
    display: block;
    margin: 10px;
}

.fileReform canvas {
    margin: 10px;
}

.whiteBackMain{
    background-color: white;
    border-radius: 10px;    
    height: 80vh;
    text-align: left;
}

.whiteBackMain img {
    max-width: 90%;
    max-height: 80%;
    margin: 30px auto;
}

#reformButton {
    background-color: #F6F7F8;
    color: #FFD600;
    -webkit-text-stroke: 1px #A08600;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    width: 210px;
    border: none;
    cursor: pointer;
    transition: tansform 500ms ease;
    border-radius: 10px;
    margin: 0px 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.whiteBackMain .imageDetailHeader {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0px 5%;
}

.imageDetailHeader h1{
    width: 50%;
    flex-grow: 1;
}

.whiteBackMain #imageDetail {
    display: block;
    margin: 20px auto;
    max-width: 90%;
    max-height: 70%;
    padding-bottom: 10px;
    margin: auto;
}

.whiteBackMain canvas {
    display: block;
    margin: auto auto;
    max-height: 70%;
}

.whiteBackMain .buttons {
    text-align: center;
}

.buttons #reformButton {
    background-color: #F6F7F8;
    color: #FFD600;
    -webkit-text-stroke: 1px #A08600;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    width: 300px;
    border: none;
    cursor: pointer;
    transition: tansform 500ms ease;
    border-radius: 10px;
    margin: 0px 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.switchDiv{
    display: inline-block;
}

main h3 {
    padding: 5px 0px;
}

h3 i {
    color: #FFD600;
    -webkit-text-stroke: 1px #A08600;
    font-family: "Yeseva One", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    padding: 0px 5px;
}


